<%= form_for @product,:html=>{:multipart => true,class:'form-horizontal', role:'form'} do |f| %>

			<% if @product.errors.any? %>
				<div id="error_explanation">
					<div class="alert alert-danger">
					<h2><%= pluralize(@product.errors.count, "error") %> Prohibited this product being saved: </h2>

					<ul>
						<% @product.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
					</div>
				</div>
			<% end %>



			<div class="form-group">
				<%= f.label :title, "Product Title:", class:'col-sm-2 control-label' %> 
				<div class="col-sm-6">	
					<%= f.text_field :title, class:'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :quantity, "Quantity", class:'col-sm-2 control-label' %>
				<div class="col-sm-6">
					<%= f.text_field :quantity, class:'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :quality, "Quality", class:'col-sm-2 control-label' %>
				<div class="col-sm-6">
					<div class="input-group">
						<%= f.text_field :quality, class:'form-control' %>
						<span class="input-group-addon">carat</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :price, "Price", class:'col-sm-2 control-label' %>
				<div class="col-sm-6">
					<div class="input-group">
						<%= f.text_field :price, class:'form-control' %>
						<span class="input-group-addon">$</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :size, "Size", class:'col-sm-2 control-label' %>
				<div class="col-sm-6">
					<div class="input-group">
						<%= f.text_field :size, class:'form-control' %>
						<span class="input-group-addon">mm</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :weight, "Weight", class:'col-sm-2 control-label' %>
				<div class="col-sm-6">
				<div class="input-group">
					<%= f.text_field :weight, class:'form-control' %>
					<span class="input-group-addon">gm</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :color, "Color", class:'col-sm-2 control-label' %>
				<div class="col-sm-6">
					<%= f.text_field :color, class:'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<%= f.label :description, "Description", class:'col-sm-2 control-label' %>
				<div class="col-sm-6">
					<%= f.text_area :description, class:'form-control' %>
				</div>
			</div>

			<div class="form-group">
		    	<div class="col-sm-offset-2 col-sm-10">
		      		<%= f.submit "Create Product", :class=>"btn btn-default" %>
		    	</div>
		  	</div>		
			
<% end %>